<%#
 Copyright 2013-2020 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div *ngIf="account !== undefined" class="modal show" role="dialog" [style.display]="'block'"
     [style.pointer-events]="'none'">
    <div class="modal-dialog Home--modalDialog d-flex" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <img src="/content/images/logo-full.png" class="auth-org-logo" alt=""
                     [style.width.px]="200">
            </div>
            <div class="modal-body">
                <h4 class="text-center">Welcome to the<br /><%= prettyAppName %> Tool!</h4>

                <button class="btn btn-primary w-100 mt-3 mb-3" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>
